.header {
    height: 80vh; 
    background-image: linear-gradient(
        to right bottom,
        rgba(3, 3, 3, 0.639),
        rgba(125, 15, 15, 0.831)),
        url("../img/BreadboardLEDs.jpg");
    background-size: cover;
}

