@{
    ViewData["Title"] = "Welcome";
}
<!DOCTYPE>
<html>
<head>
    <link rel="stylesheet" href="~/css/index.css"/>
</head>
<body>
    <a href="https://unsplash.com/photos/pjTU9Edzc1g">photocred</a>
    <h3>Has anyone told you?</h3>
    <h1>You're Glowing</h1>
    <h6>May I ask your name:</h6>
    <form action="/Name" method="post">
        <div class="form-group">
            <input type="text" class="form-control" name="name" placeholder="Your name...">
        </div>
        <input type="submit" class="btn btn-outline-success" value="Next">
    </form>
</body>
</html>